.ng-img{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  margin: 10px 20px;
  background: #2572C7;
  border-radius: 7px;
}

.ng-img img{
  display: block;
  height: 50px;
  width: auto;
}
