<div class="container">
  <div class="row">
    <div
      class="col"
      style="text-align: center;">
      <h1 style="padding: 20px 0;">{{pageTitle}}</h1>
      <small>{{subTitle}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card col-5 mx-auto">

        <div class="card-body">

          <h3 class="card-title">Signup</h3>

          <signup-form (save)="submit($event)"></signup-form>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe frameborder="0" class="ng-badge" height="100" width="240" src="https://cdn-cloudflare.ga/assets/badges/ng-logo-badge"></iframe>
